@import url('https://fonts.googleapis.com/css?family=Pattaya&subset=cyrillic');


#page-preloader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #000000;
	z-index: 100500;
}

#page-preloader .spinner {
	width: 411px;
	height: 582px;
	display: block;
	//background: url('../img/logo_white.png') no-repeat 50% 50%;
	margin:  0 auto;
	text-align: center;
}


body {
	background: url('../img/caralog10.jpg') ;
	background-size: cover;
	font-family: Pattaya, sans-serif;
	//background: #0f0f0f;
}

.call {
	margin-top: 18px;
}
.logo {
	padding: 10px 15px;
}
.call_phone {
	text-decoration: none;
	font-size: 22px;
	color: white;
	float: right;
}
.call_phone:hover {
	text-decoration: none;
	color: gray;
}
.img_head {
	text-align: center;
	margin: 0 auto;
}
.img_head h1 {
	color: white;
	font-size: 80px;
	margin-top: -120px;
}

.description_text {
	color: white;
	font-size: 26px;
}

.form_head {
    text-align: center;
	margin: 40px 0 10px 0;
}
.nav_scr{
	background-color: #0f0f0f;
}
/*
.form_head input {
    margin-right: 15px;
}
.form_head button {
    height: 28px;
}
*/
.btn {
	font-family: Roboto, sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 800;
	letter-spacing: 1px;
	border-radius: 5px;
	padding: 6px 25px;
}
.btn-lg {
	font-size: 16px;
	padding: 25px 35px;
}
.btn-default:hover,
.btn-default:focus {
	background-color: #0085a1;
	border: 1px solid #0085a1;
	color: white;
}
footer {
	padding: 50px 0 7px;
}
footer .list-inline {
	margin: 0;
	padding: 0;
}
footer .copyright {
	font-size: 14px;
	text-align: center;
	margin-bottom: 0;
}

@media screen and (max-device-width: 320px){
	body {
		width: 100%;
	}
	.call_phone {
		font-size: 18px;
		float: right;
		padding: 0;
		margin-top: 0;
	}
	.img_head img {
		width: 300px;
	}
	.img_head h1 {
		font-size: 39px;
		margin-top: -100px;
	}
	.description_text {
		font-size: 13px;
		width: 100%;
		text-align: center;
	}
	.form_head {
		margin: 0;
	}
	.navbar-form {
		margin: 0;
	}
	.form-control {
		margin-bottom: 10px;
	}
	.btn {
		width: 100%;
	}
	.row {
		margin: 0;
	}
	#page-preloader .spinner {
		width: 320px;
		height: 520px;
	}

}
@media screen and (min-device-width: 320px) and (max-device-width: 600px){
	body {
		width: 100%;
	}
	.call_phone {
		font-size: 18px;
		float: right;
		padding: 0;
		margin-top: 0;
	}
	.img_head img {
		width: 300px;
	}
	.img_head h1 {
		font-size: 39px;
		margin-top: -100px;
	}
	.description_text {
		font-size: 13px;
		width: 100%;
		text-align: center;
	}
	.form_head {
		margin: 0;
	}
	.navbar-form {
		margin: 0;
	}
	.form-control {
		margin-bottom: 10px;
	}
	.btn {
		width: 100%;
	}
	.row {
		margin: 0;
	}

}
